<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/s404.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <title>Something is wrong</title>
</head>
<body>
        <div class="e404">
            <div class="inner">
                <h2>Looks like you didn't write anything</h2>
                <p>If you didn't read our guide,please presse<a href="/"> here </a>to read it or presse the button bellow to try again</p>
                <div class="flex">      
                    <div class="box1">
                        
                        <a href="/Can">Try again</a>
    

                    </div>
                </div>  
            </div>
        </div>
</body>
</html>